In [0]:
import pandas as pd
import numpy as np
from surprise import Dataset, Reader, SVD, accuracy
from surprise.model_selection import train_test_split

Из всех данных нам понадобится только ratings, загружаем.

In [0]:
ratings = pd.read_csv("ratings.csv")[['userId', 'movieId', 'rating']]

In [10]:
ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

Разобьём на тренировочную и тестовую выборку. В библиотеке SurPRISE есть собственные методы для этого. 30% -- размер тестовой выборки.

In [0]:
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(ratings, reader)
train, test = train_test_split(data, test_size=0.3)

Будем использовать SVD-факторизацию.

In [0]:
model = SVD()
model.fit(train)
predicted = model.test(test)

Посмотрим на качество:

In [16]:
accuracy.mse(predicted)

MSE: 0.7672

0.7671938975522796